[Unit]
Description=Lithil
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/yopt/lithil
ExecStart=/usr/local/bin/lithil start
ExecStop=/usr/local/bin/lithil stop
ExecReload=/usr/local/bin/lithil restart
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
User=lithil
Restart=on-failure

[Install]
WantedBy=network-online.target