token:


log_channel: 635598741042102273

currency:
  name: Papaya
  name_plural: Papayas
  money_per_message: 2
  money_per_minute_on_voice: 5
commands:
  command_headers:
    - _
  restricted_channels:
    - 203646766552186880